<h1>New post</h1>

<!-- render partial template named form (_form.html.erb) 
      edit and new both have a form so they both call a 
	  partial template for this. DRY - don't repeat yourself. -->
<%= render 'form' %>

<%= link_to 'Back', posts_path %>
